#mainPage {

  $boldBlue: #000066;
  $boldRed: #660000;

  @mixin card-border-radius {
    border-radius: 10px;
  }

  .clock-card {
    border: 3px solid black;
    margin: .5em;
    @include card-border-radius;

    .card-head {
      color: white;
      padding: .5em;
      border-bottom: 3px solid black;
      @include card-border-radius;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &.corporate {
        background-color: $boldBlue;
      }
      &.threat {
        background-color: $boldRed;
      }
    }

    .card-body {
      padding: .5em;
    }
  }

}
