#mainPage {

  $boldBlue: #000066;
  $boldRed: #660000;

  @mixin card-border-radius {
    border-radius: 10px;
  }

  .clock-card {
    position: relative;
    overflow: hidden;
    border: 3px solid black;
    margin: .5em;
    @include card-border-radius;

    .card-head {
      color: white;
      padding: .5em;
      border-bottom: 3px solid black;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      //position: absolute;
      //top: 0;
      //left: 0;
      width: 100%;
      height: 40%;

      &.corporate {
        background-color: $boldBlue;
      }
      &.threat {
        background-color: $boldRed;
      }
    }

    .card-body {
      padding: .5em;

      .clock-description {
        width: 100%;
      }

      .clock-countdown {
        width: 100%;
      }
    }
  }

}
