<div ng-controller="mainCtrl as mainCtrl" id="mainPage">

  <div class="row">
    <div ng-repeat="clock in mainCtrl.clocks">
      <div class="col-md-6">

        <div class="clock-card">
          <div class="card-head" ng-class="{corporate: clock.realm.name === 'Corporate', threat: clock.realm.name === 'Threat'}">
            <span>{{clock.name}}</span>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-xs-12">

                <span>{{clock.description}}</span>

              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">

                <span>{{clock.countdown.value}}</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
