<div ng-controller="mainCtrl as mainCtrl" id="mainPage">

  <div class="row">
    <div ng-repeat="clock in mainCtrl.clocks">
      <div class="col-md-6">

        <div class="clock-card">
          <div class="card-head" ng-class="mainCtrl.setClockRealmType(clock.realm.name)">
            <span>{{clock.name}}</span>
          </div>
          <div class="card-body">
            <div class="clock-description">{{clock.description}}</div>
            <div class="clock-countdown">{{clock.countdown.value}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
